/* Global Layout Set-up */
* { 
    box-sizing: border-box;
  }
    
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: white;
  }

/* Add turquoise color to background*/
 .topnav {
  background-color: turquoise;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #c75;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 

header {
    text-align: center;
    background: url('https://images.pexels.com/photos/264480/pexels-photo-264480.jpeg?cs=srgb&dl=pexels-pixabay-264480.jpg&fm=jpg') no-repeat top center;
    background-size: 100% 100%;
    overflow: hidden;
    padding-top: 60px;
  }
  header {
    line-height: 4.5;
  }
  header .header-image {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid turquoise;
    transition: all .5s;
  }
  header .header-image:hover {
    transform: scale(1.9) rotate(360deg);
  }
  h1 {
    color: white;
  }

  .card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: turquoise;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
  }

  .card:nth-child(odd) {
    background: #c75b18;
  }

  .card:hover {
    border-color: turquoise;
  }
   
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
  }
  
  
  footer .copyright {
    top: -4px;
    margin-right: 40px;
    font-size: .50em;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
  }
  
 /* Link Styles */
  
   a {
     text-decoration: none;
     color: #c75b18;
  }
  a:hover {
     color: #e3b842;
  }
  
 
  @media screen and (min-width: 720px) {
    
    .flex {
        display: flex;
        max-width: 1200px;
        justify-content: space-around;
        margin: 0 auto;
    }
    
    

    }
    header {
      min-height: 450px;
    }
  
    .nav {
      max-width: 1200px;
    }
  
    .nav .name {
      display: block;
      margin-right: auto;
      color: white;
    }
  
    main {
      padding-top: 50px;
    }
  
    main p {
      line-height: 1.6em;
    }
  
    footer {
      font-size: 1.3em;
      max-width: 1200px;
      margin: 40px auto;
      background-color: pink;
    }
  
  
   /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 
